@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
}
html,body{
	width:100%;
	height:100%;
}

/*导航开始*/
.lv{
    color:#fe7028;
    text-align: center;
    line-height: 3em;
}
.img_a{
    float:right;
	padding-top: 0.5em;
}
.img_b{
    padding-top: 0.3em;
}
.img_c{
    float:right;
	margin-top:0.5em;
}
.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}
/*导航结束*/

/*内容开始*/
.content{
	  margin-top:4em;
	  color:#fff;
}
.num{
      background-color:rgba(0,0,0,0.4);
	  position:relative;
	  bottom: 4.3em;
}
.ms{
      color:#fe7028;
	  margin-left:1em;
}
.qc{
      margin-left:1em;
}
.num_bottt{
     background-color: #fe7070;
     margin-top: -4.3em;
     padding: 0.3em 0.2em 0.3em 0.2em;
}
.num_a{
     background-color:rgba(0,0,0,0.4);
	 position:relative;
	 bottom: 7.1em;
}
.num_b{
     background-color:rgba(0,0,0,0.4);
	 position:relative;
	 bottom: 2.86em;
}
.num_c{
     background-color:rgba(0,0,0,0.4);
	 position:relative;
	 bottom: 8.6em;
}
.num_d{
     background-color:rgba(0,0,0,0.4);
	 position:relative;
     bottom: 7.8em;
}
.num_botta{
     background-color: #fe7070;
     margin-top: -7.2em;
     padding: 0.3em 0.2em 0.3em 0.2em;
}
.num_bottb{
     background-color: #fe7070;
     margin-top: -8.6em;
     padding: 0.3em 0.2em 0.3em 0.2em;
}
.num_bottc{
     background-color: #fe7070;
     margin-top: -3em;
     padding: 0.3em 0.2em 0.3em 0.2em;
}
.num_bottd{
     background-color: #fe7070;
     margin-top: -7.1em;
     padding: 0.3em 0.2em 0.3em 0.2em;
}

.num_bott{
     background-color: #fe7070;
     margin-top: -3em;
     padding: 0.3em 0.2em 0.3em 0.2em;
}
.sp{
     font-size:1.5em;
}
.time{
     float:right;
	 padding-top:0.8em;
}
.gd{
     text-align:center;
	 padding-top:2em;
}
/*内容结束*/
.bottom{
	  margin-top:2em;
	  padding-bottom:1em;
}
.bottom_a{
	  text-align:center;
	  color:#fe7028;
}
/*底部开始*/
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.bott{
      margin-top:4em;
}
.nav_bot{
     background: #f6f6f6;
}

.btn-group, .btn-group-vertical {
      position: relative;
      display: inline-block;
      vertical-align: middle;
	  margin-top:0.5em;
}
.dropdown-menu{
    min-width:0px;
}
/*底部结束*/